@media screen and (min-width: 0){
    body{
        max-width: 400px;
        margin: auto;
        background-color: #20130f;
    }
}

@media screen and (min-width: 768px){
    body{
        max-width: 760px;
        margin: auto;
        background-color: #20130f;
    }
}

@media screen and (min-width: 992px){
    body{
        max-width: 940px;
        margin: auto;
        background-color: #20130f;
    }
}

