@media screen and (min-width: 0){
    .chocolate-ao-leite{
        margin-top: 15px;
    }
}

@media screen and (min-width: 768px){
    .chocolate-ao-leite{
        margin-top: 35px;
    }
}

@media screen and (min-width: 992px){
    .chocolate-ao-leite{
        margin-top: 50px;
    }
}