@media screen and (min-width: 0){
    .chocolate-ao-leite-lista{
        display: flex;
        flex-wrap: wrap;
    }

    .chocolate-ao-leite-lista section{
        margin-top: 20px;
        line-height: 20px;
        margin-right: 15px;
        margin-left: 10px;
    }

    .chocolate-ao-leite-lista section img{
        width: 140px;
        height: 125px;
    }

    .chocolate-ao-leite-lista section strong{
        color: gold;
        font-size: 14px;
    }

    .chocolate-ao-leite-lista section p{
        color: gold;
        font-weight: bold;
        font-size: 14px;
    }

    .chocolate-ao-leite-lista section a{
        color: rgb(138, 117, 0);
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
    }

    .chocolate-ao-leite-lista-item1{
        display: block;
    }
    .chocolate-ao-leite-lista-item2{
        display: block;
    }
    .chocolate-ao-leite-lista-item3{
        display: block;
    }
    .chocolate-ao-leite-lista-item4{
        display: block;
    }
    .chocolate-ao-leite-lista-item5{
        display: none;
    }
    .chocolate-ao-leite-lista-item6{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .chocolate-ao-leite-lista{
        display: flex;
        flex-wrap: nowrap;
    }

    .chocolate-ao-leite-lista section{
        margin-top: 20px;
        line-height: 20px;
        margin-right: 15px;
        margin-left: 0px;
    }

    .chocolate-ao-leite-lista section img{
        width: 175px;
        height: 125px;
    }

    .chocolate-ao-leite-lista section strong{
        color: gold;
    }

    .chocolate-ao-leite-lista section p{
        color: gold;
        font-weight: bold;
    }

    .chocolate-ao-leite-lista section a{
        color: rgb(138, 117, 0);
        text-decoration: none;
        font-weight: bold;
    }

    .chocolate-ao-leite-lista-item1{
        display: block;
    }
    .chocolate-ao-leite-lista-item2{
        display: block;
    }
    .chocolate-ao-leite-lista-item3{
        display: block;
    }
    .chocolate-ao-leite-lista-item4{
        display: block;
    }
    .chocolate-ao-leite-lista-item5{
        display: none;
    }
    .chocolate-ao-leite-lista-item6{
        display: none;
    }
}

@media screen and (min-width: 992px){
    .chocolate-ao-leite-lista{
        display: flex;
        flex-wrap: nowrap;
    }

    .chocolate-ao-leite-lista section{
        margin-top: 20px;
        line-height: 20px;
        margin-right: 10px;
        margin-left: 0px;
    }

    .chocolate-ao-leite-lista section img{
        width: 150px;
        height: 100px;
    }

    .chocolate-ao-leite-lista section strong{
        color: gold;
    }

    .chocolate-ao-leite-lista section p{
        color: gold;
        font-weight: bold;
    }

    .chocolate-ao-leite-lista section a{
        color: rgb(138, 117, 0);
        text-decoration: none;
        font-weight: bold;
    }

    .chocolate-ao-leite-lista-item1{
        display: block;
    }
    .chocolate-ao-leite-lista-item2{
        display: block;
    }
    .chocolate-ao-leite-lista-item3{
        display: block;
    }
    .chocolate-ao-leite-lista-item4{
        display: block;
    }
    .chocolate-ao-leite-lista-item5{
        display: block;
    }
    .chocolate-ao-leite-lista-item6{
        display: block;
    }
    
}