@media screen and (min-width: 0){
    .login{
        width: 375px;
        margin-left: auto;
        margin-right: auto;
        color: gold;
        font-weight: bold;
        line-height: 25px;
    }
}

@media screen and (min-width: 768px){
    .login{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        color: gold;
        font-weight: bold;
        line-height: 25px;
    }
}

@media screen and (min-width: 992px){
    .login{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        color: gold;
        font-weight: bold;
        line-height: 25px;
    }
}