@media screen and (min-width: 0){
    .chocolate-premium-titulo{
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
    }
    .chocolate-premium-titulo h2{
        color: gold;
        font-size: 20px;
        font-weight: bold;
    }
    .chocolate-premium-titulo a{
        color: gold;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px){
    .chocolate-premium-titulo{
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
    }
    .chocolate-premium-titulo h2{
        color: gold;
        font-size: 32px;
        font-weight: bold;
    }
    .chocolate-premium-titulo a{
        color: gold;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }
}

@media screen and (min-width: 992px){
    .chocolate-premium-titulo{
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
    }
    .chocolate-premium-titulo h2{
        color: gold;
        font-size: 32px;
        font-weight: bold;
    }
    .chocolate-premium-titulo a{
        color: gold;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }
}